<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/community.css">
        <title>Community</title>
    </head>

    <body>
        
        <header>
            <div class="aboutme-logo"><img src="/assets/aboutme-images/dota2-logo-tips-removebg-preview.png" alt=""></div>

            <div class="navigations">
                <nav>
                    <div class="items-nav">
                        <i class="bi bi-house-fill"></i><a href="/index.html">HOME</a>
                        <i class="bi bi-person-fill"></i><a href="/views/about-me.html">ABOUT ME</a>
                        <i class="bi bi-trophy-fill"></i><a href="/views/heroes.html">HEROES</a>
                        <i class="bi bi-info-square-fill"></i><a href="/views/game-info.html">GAME INFO</a>
                        <i class="bi-discord"></i><a class="active" href="/views/community.html">COMMUNITY</a>
                    </div>
                </nav>
            </div>
        </header>


        <main>
            <div class="community-head">
                <h1>Join the <br> Dota 2 community</h1>
                <p>Connect with the players aroung the world. <br> Share startegies, discover teammates, <br> and become part of the battle.</p>
            </div>

            <section class="why-join">
                <div class="why-join-details">
                    <h2>Why join?</h2>
                    <p>Whether you're a beginner learning your first hero or an experienced player climbing the ranked ladder, the Dota 2 community is filled with teammates, guides, tournaments, and unforgettable moments.</p>
                </div>
                <img src="/assets/community-images/communitylogo-removebg.png" alt="">
            </section>

            <article class="social-media">
                <div class="discord">
                    <i class="bi bi-discord"></i>
                    <div class="discord-details">
                        <h3>Discord</h3>
                        <p>Join our discord server to chat, find teammates, and get updates.</p>
                    </div>
                    <div class="links"><a href="https://discord.com/invite/rdota2" target="_blank">Visit Community</a></div>
                </div>

                <div class="steam">
                    <i class="bi bi-steam"></i>
                    <div class="steam-details">
                        <h3>Steam</h3>
                        <p>Connect on Steam to play together and join our community hub.</p>
                    </div>
                    <div class="links"><a href="https://store.steampowered.com/app/570/Dota_2/" target="_blank">Visit Community</a></div>
                </div>

                <div class="facebook">
                    <i class="bi bi-facebook"></i>
                    <div class="facebook-details">
                        <h3>Facebook</h3>
                        <p>Follow our page for news, events, and community highlights.</p>
                    </div>
                    <div class="links"><a href="https://web.facebook.com/dota2/?_rdc=1&_rdr#" target="_blank">Visit Community</a></div>
                </div>

                <div class="reddit">
                    <i class="bi bi-reddit"></i>
                    <div class="reddit-details">
                        <h3>Reddit</h3>
                        <p>Discuss strategies, share memes, and be part of the Dota 2 subreddit.</p>
                    </div>
                    <div class="links"><a href="https://www.reddit.com/r/DotA2/" target="_blank">Visit Community</a></div>
                </div>
            </article>
            <!--Fill up for community-->
            <article class="community-fill-up">

                <div class="fill-up-title">
                    <h3>Join the Community</h3>
                </div>

                <form action="">
                    <!--fill up for full name and email-->
                    <div class="fullname-email">
                        <div class="fullname">
                            <label for="fname">Full Name :</label>
                            <input type="text" id="fname" placeholder="Your full name" required>
                        </div>

                        <div class="email">
                            <label for="uemail">Email :</label>
                            <input type="email" id="umail" placeholder="youremail@example.com" required>
                        </div>
                    </div>

                    <div class="country-currentr-favoriteh">
                        <div class="country">
                            <label for="country">Country :</label>
                            <select name="country" id="country" required>
                                <option value="" selected disabled>Select your country</option>
                                <optgroup label="Southeast Asia">
                                    <option value="PH">Philippines</option>
                                    <option value="ML">Malaysia</option>
                                    <option value="SG">Singapore</option>
                                    <option value="ID">Indonesia</option>
                                    <option value="TL">Thailand</option>
                                    <option value="VN">Vietnam</option>
                                </optgroup>

                                <optgroup label="East Asia">
                                    <option value="CN">China</option>
                                    <option value="MG">Mongolia</option>
                                </optgroup>

                                <optgroup label="South Asia">
                                    <option value="IN">India</option>
                                    <option value="PK">Pakistan</option>
                                    <option value="BD">Bangladesh</option>
                                </optgroup>

                                <optgroup label="Eastern Europe & CIS">
                                    <option value="RU">Russia</option>
                                    <option value="UR">Ukraine</option>
                                    <option value="KZ">Kazakstan</option>
                                    <option value="RM">Romania</option>
                                    <option value="SB">Serbia</option>
                                    <option value="BG">Bulgaria</option>
                                    <option value="PL">Poland</option>
                                </optgroup>

                                <optgroup label="Western & North Europe">
                                    <option value="GM">Germany</option>
                                    <option value="SD">Sweden</option>
                                    <option value="FL">Finland</option>
                                    <option value="DM">Denmark</option>
                                    <option value="NW">Norway</option>
                                    <option value="UK">United Kingdom</option>
                                    <option value="FR">France</option>
                                </optgroup>

                                <optgroup label="North America">
                                    <option value="US">United States</option>
                                    <option value="CD">Canada</option>
                                </optgroup>

                                <optgroup label="South America">
                                    <option value="BZ">Brazil</option>
                                    <option value="PR">Peru</option>
                                    <option value="AT">Argentina</option>
                                    <option value="CL">Chile</option>
                                </optgroup>

                                <optgroup label="Ocenia">
                                    <option value="AL">Australia</option>
                                    <option value="NZ">New Zealand</option>
                                </optgroup>
                            </select>
                        </div>

                        <!--this division is for current rank and favorite heroes-->
                        <div class="current-rank">
                            <label for="currentr">Current Rank :<label>
                            <select name="currentr" id="currentr" required>
                                <option value="" selected disabled>Select your current rank</option>
                                <optgroup label="Herald">
                                    <option value="hr1">Herald 1: 0-153 MMR</option>
                                    <option value="hr2">Herald 2: 154-307 MMR</option>
                                    <option value="hr3">Herald 3: 308-461 MMR</option>
                                    <option value="hr4">Herald 4: 462-615 MMR</option>
                                    <option value="hr5">Herald 5: 616-769 MMR</option>
                                </optgroup>

                                <optgroup label="Guardian">
                                    <option value="g1">Guardian 1: 770-923 MMR</option>
                                    <option value="g2">Guardian 2: 924-1,077 MMR</option>
                                    <option value="g3">Guardian 3: 1,078-1,231 MMR</option>
                                    <option value="g4">Guardian 4: 1,232-1,385 MMR  </option>
                                    <option value="g5">Guardian 5: 1,386-1,539 MMR</option>
                                </optgroup>

                                <optgroup label="Archon">
                                    <option value="a1">Archon 1: 2,310-2,463 MMR</option>
                                    <option value="a2">Archon 2: 2,464-2,617 MMR</option>
                                    <option value="a3">Archon 3: 2,618-2,771 MMR</option>
                                    <option value="a4">Archon 4: 2,772-2,925 MMR</option>
                                    <option value="a5">Archon 5: 2,926-3,079 MMR</option>
                                </optgroup>

                                <optgroup label="Legend">
                                    <option value="l1">Legend 1: 3,080-3,233 MMR</option>
                                    <option value="l2">Legend 2: 3,234-3,387 MMR</option>
                                    <option value="l3">Legend 3: 3,388-3,541 MMR</option>
                                    <option value="l4">Legend 4: 3,542-3,695 MMR</option>
                                    <option value="l5">Legend 5: 3,696-3,849 MMR</option>
                                </optgroup>

                                <optgroup label="Ancient">
                                    <option value="ac1">Ancient 1: 3,850-4,003 MMR</option>
                                    <option value="ac2">Ancient 2: 4,004-4,157 MMR</option>
                                    <option value="ac3">Ancient 3: 4,158-4,311 MMR</option>
                                    <option value="ac4">Ancient 4: 4,312-4,465 MMR</option>
                                    <option value="ac5">Ancient 5: 4,466-4,619 MMR</option>
                                </optgroup>

                                <optgroup label="Divine">
                                    <option value="dv1">Divine 1: 4,620-4,819 MMR</option>
                                    <option value="dv2">Divine 2: 4,820-5,019 MMR</option>
                                    <option value="dv3">Divine 3: 5,020-5,219 MMR</option>
                                    <option value="dv4">Divine 4: 5,220-5,419 MMR</option>
                                    <option value="dv5">Divine 5: 5,420-5,619 MMR</option>
                                </optgroup>

                                <optgroup label="Immortal">
                                    <option value="ui">Unranked Immortal</option>
                                    <option value="nl">Numbered Leaderboard</option>
                                    <option value="t100">The Top 100 Bracket</option>
                                    <option value="elite">The Top 10 Elite</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="favorite-hero">
                            <label for="heroes">Favorite Hero :</label>
                            <select name="heroes" id="heroes">
                                <option value="" selected disabled>Select a hero</option>
                                <optgroup label="Agility">
                                    <option value="AM">Anti-Mage</option>
                                    <option value="AW">Arc Warden</option>
                                    <option value="BS">Bloodseeker</option>
                                    <option value="bh">Bounty Hunter</option>
                                    <option value="bm">Broodmother</option>
                                    <option value="cl">Clinkz</option>
                                    <option value="dr">Drow Ranger</option>
                                    <option value="eb">Ember Spirit</option>
                                    <option value="fv">Faceless Void</option>
                                    <option value="gc">Gyrocopter</option>
                                    <option value="hw">Hoodwink</option>
                                    <option value="jn">Juggernaut</option>
                                    <option value="ld">Lone Druid</option>
                                    <option value="ln">Luna</option>
                                    <option value="md">Medusa</option>
                                    <option value="me">Meepo</option>
                                    <option value="mp">Morphling</option>
                                    <option value="ns">Naga Siren</option>
                                    <option value="na">Nyx Assassin</option>
                                    <option value="pa">Phantom Assassin</option>
                                    <option value="pl">Phantom Lancer</option>
                                    <option value="rz">Razor</option>
                                    <option value="rk">Riki</option>
                                    <option value="sf">Shadow Fiend</option>
                                    <option value="sl">Slark</option>
                                    <option value="sp">Sniper</option>
                                    <option value="st">Spectre</option>
                                    <option value="ta">Templar Assassin  </option>
                                    <option value="tb">Terrorblade</option>
                                    <option value="tw">Troll Warlord  </option>
                                    <option value="us">Ursa</option>
                                    <option value="wp">Viper</option>
                                    <option value="wv">Weaver</option>
                                </optgroup>

                                <optgroup label="Strength">
                                    <option value="">Alchemist</option>
                                    <option value="">Axe</option>
                                    <option value="">Bristleback</option>
                                    <option value="">Centaur Warrunner</option>
                                    <option value="">Chaos Knight</option>
                                    <option value="">Clockwerk</option>
                                    <option value="">Dawnbreaker</option>
                                    <option value="">Doom</option>
                                    <option value="">Dragon Knight</option>
                                    <option value="">Earth Spirit</option>
                                    <option value="">Earthshaker</option>
                                    <option value="">Elder Titan  </option>
                                    <option value="">Huskar</option>
                                    <option value="">Kunkka</option>
                                    <option value="">Largo</option>
                                    <option value="">Legion Commander</option>
                                    <option value="">Lifestealer</option>
                                    <option value="">Lycan</option>
                                    <option value="">Magnus</option>
                                    <option value="">Mars</option>
                                    <option value="">Night Stalker</option>
                                    <option value="">Ogre Magi</option>
                                    <option value="">Omniknight</option>
                                    <option value="">Phoenix</option>
                                    <option value="">Primal Beast</option>
                                    <option value="">Pudge</option>
                                    <option value="">Slardar</option>
                                    <option value="">Snapfire</option>
                                    <option value="">Spirit Breaker  </option>
                                    <option value="">Sven</option>
                                    <option value="">Tidehunter</option>
                                    <option value="">Timbersaw</option>
                                    <option value="">Tiny</option>
                                    <option value="">Treant Protector</option>
                                    <option value="">Tusk</option>
                                    <option value="">Underlord</option>
                                    <option value="">Undying</option>
                                    <option value="">Wraith King</option>
                                </optgroup>

                                <optgroup label="Intelligence">
                                    <option value="">Ancient Apparition  </option>
                                    <option value="">Crystal Maiden  </option>
                                    <option value="">Dark Seer  </option>
                                    <option value="">Disruptor</option>
                                    <option value="">Enchantress</option>
                                    <option value="">Grimstroke</option>
                                    <option value="">Invoker</option>
                                    <option value="">Jakiro</option>
                                    <option value="">Keeper of the Light  </option>
                                    <option value="">Leshrac</option>
                                    <option value="">Lich</option>
                                    <option value="">Lina</option>
                                    <option value="">Lion</option>
                                    <option value="">Muerta</option>
                                    <option value="">Necrophos  </option>
                                    <option value="">Oracle  </option>
                                    <option value="">Outworld Destroyer  </option>
                                    <option value="">Puck</option>
                                    <option value="">Pugna</option>
                                    <option value="">Queen of Pain</option>
                                    <option value="">Ringmaster</option>
                                    <option value="">Rubick</option>
                                    <option value="">Shadow Demon</option>
                                    <option value="">Shadow Shaman</option>
                                    <option value="">Silencer</option>
                                    <option value="">Skywrath Mage</option>
                                    <option value="">Storm Spirit</option>
                                    <option value="">Tinker</option>
                                    <option value="">Warlock</option>
                                    <option value="">Winter Wyvern</option>
                                    <option value="">Witch Doctor</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>

                    <div class="preferredrole-experiencelvl-favoritesrvr">
                        <div class="preferred-role">
                            <label for="pref-role">Preferred Role :</label>
                            <select name="pref-role" id="pref-role">
                                <option value="" selected disabled>Select a role</option>
                                <option value="">Carry</option>
                                <option value="">Mid Lane</option>
                                <option value="">Off Lane</option>
                                <option value="">Hard Support</option>
                                <option value="">Support</option>
                            </select>
                        </div>

                        <div class="experience-level">
                            <label for="exp-level">Experience Level :</label>
                            <select name="exp-level" id="exp-level">
                                <option value="" selected disabled>Select your level</option>
                                <option value="">I am a beginner</option>
                                <option value="">I've played games like Dota 2 (MOBA experience)</option>
                                <option value="">I've played League of Legends</option>
                                <option value="">I've played Dota 2 before  </option>
                            </select>
                        </div>

                        <div class="favorite-server">
                            <label for="fav-server">Favorite Server :</label>
                            <select name="fav-server" id="fav-server">
                                <option value="" selected disabled>Select Region</option>
                                <optgroup label="Asia & Oceana">
                                    <option value="">Southeast Asia (SEA)</option>
                                    <option value="">Japan</option>
                                    <option value="">Australia</option>
                                    <option value="">India</option>
                                </optgroup>

                                <optgroup label="Europe & Russia">
                                    <option value="">Europe West</option>
                                    <option value="">Europe East</option>
                                    <option value="">Russia</option>
                                </optgroup>

                                <optgroup label="North America">
                                    <option value="">US East</option>
                                    <option value="">US West</option>
                                </optgroup>

                                <optgroup label="South America">
                                    <option value="">South America / Brazil</option>
                                    <option value="">Peru</option>
                                    <option value="">Chile</option>
                                    <option value="">Argentina</option>
                                </optgroup>

                                <optgroup label="Middle East & Africa">
                                    <option value="">Dubai</option>
                                    <option value="">South Africa</option>
                                </optgroup>
                                
                                <optgroup label="China">
                                    <option value="">Telecom Shanghai</option>
                                    <option value="">Telecom Zhejiang</option>
                                    <option value="">Telecom Wuhan</option>
                                    <option value="">Unicom</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>

                    <div class="message">
                        <label for="message">Message (Optional)</label>
                        <textarea name="message" id="message" placeholder="Tell us something about yourself..."></textarea>
                    </div>

                    <div class="submit-button">
                        <button type="submit">Join Community</button>
                    </div>
                </form>
            </article>

            <section class="mp-fr-mpr-ar">

                <div class="monthly-players">
                    <i class="bi bi-people-fill"></i>
                    <h3>12M+</h3>
                    <p class="subtitle">Monthly Players</p>
                    <p class="details">Active players worldwide</p>
                </div>

                <div class="sea">
                    <i class="bi bi-globe"></i>
                    <h3>SEA</h3>
                    <p class="subtitle">Favorite Region</p>
                    <p class="details">Most players are from the SEA</p>
                </div>

                <div class="carry">
                    <i class="bi bi-shield-shaded"></i>
                    <h3>Carry</h3>
                    <p class="subtitle">Most played role</p>
                    <p class="details">The carry role is the most popular</p>
                </div>

                <div class="rank">
                    <i class="bi bi-trophy"></i>
                    <h3>Legend</h3>
                    <p class="subtitle">Average rank</p>
                    <p class="details">Average rank across all regions</p>
                </div>
            </section>
            
            <section class="community-quote">
                <h4><span>"</span>Power isn't measured by strength — <br>it's measured by the souls I claim.<span>"</span></h4>
                <p>—Shadow Fiend</p>
            </section>
        </main>    
    </body>
</html>