<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/game-info.css">
    <title>Game Info</title>
</head>
<body>

    <header>
        <div class="aboutme-logo"><img src="../assets/aboutme-images/dota2-logo-tips-removebg-preview.png" alt=""></div>

        <div class="navigations">
            <nav>
                <div class="items-nav">
                    <i class="bi bi-house-fill"></i><a href="../index.html">HOME</a>
                    <i class="bi bi-person-fill"></i><a href="about-me.html">ABOUT ME</a>
                    <i class="bi bi-trophy-fill"></i><a href="heroes.html">HEROES</a>
                    <i class="bi bi-info-square-fill"></i><a class="active" href="game-info.html">GAME INFO</a>
                    <i class="bi-discord"></i><a href="community.html">COMMUNITY</a>
                </div>
            </nav>
        </div>
    </header>

    <!--main content-->
    <main>
        <!--main content head-->
        <section class="head">
            <h1>Game Info</h1>
            <p class="subtitle">Everything you need to know about DOTA 2</p>
            <p class="head-details">Dota 2 is a competetive multiplayer online battle arena (MOBA) where two teams of five heroes battle destroy the enemy acient.</p>
        </section>

        <!--this is for the flex 1 the 1st column of the main content-->
        <div class="flex-1"> 
            <!--article 1 for the game overview-->
            <article class="game-overview">
                <h2><i class="bi-bar-chart-line"></i> Game Overview</h2>
                <p class="overview-details">Two teams, Radiant and Dire, fight to destroy the enemy Acient while defending their own.</p>

                <div class="radiant-dire">
                    <div class="radiant">
                        <img src="../assets/gameinfo-images/radiant-removebg.png" alt="">
                        <h3>Radiant</h3>
                        <p class="radiant-sub">The light</p>
                    </div>

                    <div class="vs">
                        <p>VS</p>
                    </div>

                    <div class="dire">
                        <img src="../assets/gameinfo-images/dire-removebg.png" alt="">
                        <h3>Dire</h3>
                        <p class="dire-sub">The Dark</p>
                    </div>
                </div>
            </article>

            <!--article 2 for the game modes-->
            <article class="game-modes">
                <h2><i class="bi bi-controller"></i> Game Mode</h2>
                <div class="modes">
                    <div class="allpick">
                        <i class="bi bi-shuffle"></i>
                        <div class="allpick-details">
                            <h3></i>All Pick</h3>
                            <p>Most balanced and strategic mode.</p>
                        </div>
                    </div>

                    <div class="rank">
                        <i class="bi bi-shield-shaded"></i>
                        <div class="rank-details">
                            <h3>Rank Match</h3>
                            <p>Compete and climb the ranked ladder.</p>
                        </div>
                    </div>

                    <div class="turbo">
                        <i class="bi bi-lightning-fill"></i>
                        <div class="turbo-details">
                            <h3>Turbo</h3>
                            <p>Fast-paced matches with shorter games.</p>
                        </div>
                    </div>

                    <div class="custom">
                        <i class="bi bi-wrench-adjustable"></i>
                        <div>
                            <h3 class="custom-details">Custom Lobbies</h3>
                            <p>Create or join custom games.</p>
                        </div>
                    </div>
                </div>
            </article>

            <!--article 3 on how to win the game-->
            <article class="how-to-win">
                <h2><i class="bi bi-patch-question"></i>      How to Win</h2>

                <div class="win-numbers">
                    <div class="one">
                        <div class="one-details">
                            <h3>Destroy enemy towers</h3>
                            <p class="one-sub">Push lanes and take objectives.</p>
                        </div>
                    </div>

                    <div class="two">
                        <div class="two-details">
                            <h3>Control the map</h3>
                            <p class="two-sub">Ward, deward, and secure vision.</p>
                        </div>
                    </div>

                    <div class="three">
                        <div class="three-details">
                            <h3>Play with your team</h3>
                            <p class="three-sub">Coordinate, fight together, and support each other.</p>
                        </div>
                    </div>

                    <div class="four">
                        <div class="four-details">
                            <h3>Destroy the Ancient</h3>
                            <p class="four-sub">Break the enemy Ancient to claim victory!</p>
                        </div>
                    </div>
                </div>
            </article>

            <!--article 4 for map overview-->
            <article class="map-overview">
                <div class="map-overview-details">
                    <div class="map-head">
                        <h2>Map Overview</h2>
                        <img src="../assets/gameinfo-images/map-overview.png" alt="">
                    </div>
                    <div class="map-details">
                        <div class="green">
                            <i class="bi bi-circle-fill"></i>
                            <div class="radiant-details">
                                <h3> Radiant Base</h3>
                                <p>Starting base of the Radiant team.</p>
                            </div>
                        </div>

                        <div class="red">
                            <i class="bi bi-circle-fill"></i>
                            <div class="dire-details">
                                <h3> Dire Base</h3>
                                <p>Starting base of the Radiant team.</p>
                            </div>
                        </div>

                        <div class="blue">
                            <i class="bi bi-circle-fill"></i> 
                            <div class="river-details">
                                <h3>River</h3>
                                <p>Separates both sides of the map.</p>
                            </div>
                        </div>

                        <div class="orange">
                            <i class="bi bi-circle-fill"></i> 
                            <div class="roshan-details">
                                <h3>Roshan Pit</h3>
                                <p>Contains Roshan and Aegis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <!--flex section number 2-->
        <div class="flex-2">
            <!--article for key obejectives-->
            <article class="key-objectives">
                <h2><i class="bi bi-star-fill"></i>  Key Objectives</h2>

                <div class="objectives-details">
                    <div class="tower">
                        <img src="../assets/gameinfo-images/tower-removebg.png" alt="">
                        <div class="tower-details">
                            <h3>Towers</h3>
                            <p>Destroy towers to gain map control.</p>
                        </div>
                    </div>

                    <div class="divider"></div>

                    <div class="roshan">
                        <img src="../assets/gameinfo-images/roshan-removebg.png" alt="">
                        <div class="roshan-details">
                            <h3>Roshan</h3>
                            <p>Defeat Roshan to claim the Aegis.</p>
                        </div>
                    </div>

                    <div class="divider"></div>

                    <div class="barracks">
                        <img src="../assets/gameinfo-images/baracks-removebg.png" alt="">
                        <div class="barracks-details">
                            <h3>Barracks</h3>
                            <p>Destroy barracks to empower creeps.</p>
                        </div>
                    </div>

                    <div class="divider"></div>

                    <div class="ancient">
                        <img src="../assets/gameinfo-images/ancient-removebg.png" alt="">
                        <div class="ancient-details">
                            <h3>The Ancient</h3>
                            <p>Destroy the Ancient to win.</p>
                        </div>
                    </div>
                </div>
            </article>

            <!--article for the roles of the game-->
            <article class="roles">
                <h2><i class="bi bi-person-gear"></i> Roles</h2>
                <div class="roles-details">

                    <div class="carry">
                        <img src="../assets/gameinfo-images/carry-removebg.png" alt="">
                        <div class="carry-details">
                            <h3>Carry</h3>
                            <p>Late-game damage dealer.</p>
                        </div>
                    </div>


                    <div class="mid-laner">
                        <img src="../assets/gameinfo-images/midlane-removebg.png" alt="">
                        <div class="mid-details">
                            <h3>Mid Laner</h3>
                            <p>Solo lane and create impact.</p>
                        </div>
                    </div>

                    <div class="off-lane">
                        <img src="../assets/gameinfo-images/offlane-removebg.png" alt="">
                        <div class="off-details">
                            <h3>Off Laner</h3>
                            <p>Create space and start fight.</p>
                        </div>
                    </div>

                    <div class="divider"></div>

                    <div class="hard-support">
                        <img src="../assets/gameinfo-images/hard-support-removebg.png" alt="">
                        <div class="hard-details">
                            <h3>Hard Support</h3>
                            <p>Control the map.</p>
                        </div>
                    </div>

                    <div class="support">
                        <img src="../assets/gameinfo-images/support-removebg.png" alt="">
                        <div class="support-details">
                            <h3>Support</h3>
                            <p>Provide vision and utility.</p>
                        </div>
                    </div>

                </div>
            </article>

            <article class="did-you-know">
                <h2><i class="bi bi-lightbulb"></i> Did you know?</h2>
                <p>The International is Dota 2's world championship tournament with the largest prize pool in esports history.</p>
            </article>
        </div>
    </main>

    <footer>

    </footer>
</body>
</html>