<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/heroes.css">
    <title>HEROES</title>
</head>
<body>
    <header>
        <div class="aboutme-logo"><img src="../assets/aboutme-images/dota2-logo-tips-removebg-preview.png" alt=""></div>

        <div class="navigations">
            <nav>
                <div class="items-nav">
                    <i class="bi bi-house-fill"></i><a href="../index.html">HOME</a>
                    <i class="bi bi-person-fill"></i><a href="about-me.html">ABOUT ME</a>
                    <i class="bi bi-trophy-fill"></i><a class="active" href="heroes.html">HEROES</a>
                    <i class="bi bi-info-square-fill"></i><a href="game-info.html">GAME INFO</a>
                    <i class="bi-discord"></i><a href="community.html">COMMUNITY</a>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="heroes-head">
            <h1>TOP 6 FAVORITE HEROES</h1>
            <p class="title-details">These are the heroes I enjoy playing the most. Each one fits my preferred playstyle, from dealing massive damage to creating game-changing moments in team fights.</p>
        </div>

        <div class="heroes-container">
            <div class="heroes-card">
                <div class="sf-img"><img src="../assets/heroes-images/sf-profile.png" alt=""></div>
                <div class="sf-details">
                    <h2>SHADOW FIEND</h2>
                    <p class="role-details">Carry / Mid</p>
                    <p class="hero-details">Range nuker with massive damage output in the late game.</p>
                </div>
                <div class="stats">
                    <div class="winrate">
                        <h2><i class="bi-graph-up"></i> Win Rate</h2>
                        <p>61%</p>
                    </div>
                    <div class="games">
                        <h2><i class="bi-controller"></i> Matches</h2>
                        <p>1,285+</p>
                    </div>

                    <div class="difficulty">
                        <h2><i class="bi-star-fill"></i> Difficulty</h2>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                </div>
            </div>

            <div class="heroes-card">
                <div class="invoker-img"><img src="../assets/heroes-images/invoker-profile.png" alt=""></div>
                <div class="invoker-details">
                    <h2>INVOKER</h2>
                    <p class="role-details">Mid</p>
                    <p class="hero-details">Master of elements, high skill ceilling and unpredictable.</p>
                </div>
                <div class="stats">
                    <div class="winrate">
                        <h2><i class="bi-graph-up"></i> Win Rate</h2>
                        <p>58%</p>
                    </div>
                    <div class="games">
                        <h2><i class="bi-controller"> </i>Matches</h2>
                        <p>920+</p>
                    </div>

                    <div class="difficulty">
                        <h2><i class="bi-star-fill"></i> Difficulty</h2>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                </div>
            </div>

            <div class="heroes-card">
                <div class="pudge-img"><img src="../assets/heroes-images/pudge-profile.png" alt=""></div>
                <div class="pudge-details">
                    <h2>PUDGE</h2>
                    <p class="role-details">Roamer</p>
                    <p class="hero-details">Hook, pull, and disrupt enemies for the team</p>
                </div>
                <div class="stats">
                    <div class="winrate">
                        <h2><i class="bi-graph-up"></i> Win Rate</h2>
                        <p>54%</p>
                    </div>
                    <div class="games">
                        <h2><i class="bi-controller"></i> Matches</h2>
                        <p>674+</p>
                    </div>

                    <div class="difficulty">
                        <h2><i class="bi-star-fill"></i> Difficulty</h2>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                    </div>
                </div>
            </div>

            <div class="heroes-card">
                <div class="jug-img"><img src="../assets/heroes-images/jug-profile.png" alt=""></div>
                <div class="jug-details">
                    <h2>JUGGERNAUT</h2>
                    <p class="role-details">Carry</p>
                    <p class="hero-details">Reliable carry with strong scaling and survivability.</p>
                </div>
                <div class="stats">
                    <div class="winrate">
                        <h2><i class="bi-graph-up"></i> Win Rate</h2>
                        <p>67%</p>
                    </div>
                    <div class="games">
                        <h2><i class="bi-controller"></i> Matches</h2>
                        <p>1,237+</p>
                    </div>

                    <div class="difficulty">
                        <h2><i class="bi-star-fill"></i> Difficulty</h2>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                    </div>
                </div>
            </div>

            <div class="heroes-card">
                <div class="tinker-img"><img src="../assets/heroes-images/tinker-profile.png" alt=""></div>
                <div class="tinker-details">
                    <h2>TINKER</h2>
                    <p class="role-details">Mid Lane</p>
                    <p class="hero-details">High mobility and insane burst with rearm damage. </p>
                </div>
                <div class="stats">
                    <div class="winrate">
                        <h2><i class="bi-graph-up"></i> Win Rate</h2>
                        <p>55%</p>
                    </div>
                    <div class="games">
                        <h2><i class="bi-controller"></i> Matches</h2>
                        <p>709+</p>
                    </div>

                    <div class="difficulty">
                        <h2><i class="bi-star-fill"></i>Difficulty</h2>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                </div>
            </div>

            <div class="heroes-card">
                <div class="ember-img"><img src="../assets/heroes-images/ember-profile.png" alt=""></div>
                <div class="ember-details">
                    <h2>EMBER SPIRIT</h2>
                    <p class="role-details">Mid / Carry</p>
                    <p class="hero-details">Fast-paced hero with insane outplay potential. High risk and absurd reward.</p>
                </div>
                <div class="stats">
                    <div class="winrate">
                        <h2><i class="bi-graph-up"></i> Win Rate</h2>
                        <p>60%</p>
                    </div>
                    <div class="games">
                        <h2><i class="bi-controller"></i> Matches</h2>
                        <p>1,349+</p>
                    </div>

                    <div class="difficulty">
                        <h2><i class="bi-star-fill"></i> Difficulty</h2>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                </div>
            </div>

        </div>
    </main>
</body>
</html>